* {
    box-sizing: border-box;
}

#pelipoyta {
    background-color: rgba(21, 133, 21, 0.575);
    padding: 30px;
    border: 3px solid #000000;
    display: inline-block;
}

#napit {
    margin-bottom: 20px;
}

#uusi-peli {
    float: right;
}

#pelaajan-kortit, #jakajan-kortit {
    display: flex;
}

#tulos {
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    height: 60px;
}

.kortti {
    border: 1px solid #000000;
    border-radius: 15px;
    width: 90px;
    height: 120px;
    display: inline-block;
    margin: 5px;
    padding: 20px;
}

.musta, .punainen {
    background-color: #ffffff;
}

.kortti span {
    display: block;
}

.kortti .symboli {
    text-align: center;
    font-size: 30px;
}

.musta .symboli {
    color: #000000;
}

.punainen .symboli {
    color: #ff0000;
}

.kortti .tokanumero { 
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

body {
  background-color: rgb(245, 245, 245);
}


#my_id {
  color: rgb(254, 254, 254);
  text-align: center;
}


.my_class {
  font-family: verdana, sans-serif;
  font-size: 20px;
}


header {
  background: rgb(81, 86, 88);
  text-align: right;
}
 
nav ul {
  list-style-type: none;
}
header li {
  display: inline-block;
}
 
li:hover {
  background-color: rgb(15, 15, 15);
}
 
ul li a {
  padding: 20px;
  display: block;
  color: rgb(1, 1, 1);
  text-decoration: none;
}

  